html {
  scroll-behavior: smooth;
  color: #fff;
  background: #222;
  font-family: sans-serif;
  margin: 0;
}

header {
  padding: 0em;
  margin: none;
}

nav.navbar {
  padding: 0;
  margin-bottom: 30px;
  background-color: rgba(131, 211, 237, 0.212);
}

header a {
  color: inherit;
  text-decoration: none;
  margin: 1em;
  padding: 0.5em;
}

footer {
  background-color: rgba(176, 196, 222, 0.525);
  padding: 1em;
  text-align: center;
  margin-top: 1em;
}

.main {
  max-width: 50em;
  margin: 0 auto;
}

img {
  width: 300px;
  /* height: 200px; */
}

.button {
  background-color: #88bbeb58;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.button:hover {
  border-color: #5e93e8;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

.button:focus {
  border-color: #4285f4;
  outline: none;
}